In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv("Coded_Data.csv")
df

,Unnamed: 0,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10,Result
0,1,53.1,63.4,33.0,46.2,47.3,21.2,44.3,36.1,46.6,65.0,Y
1,2,36.9,54.7,31.1,50.5,56.0,38.9,39.4,56.8,33.0,78.8,N
2,3,41.9,65.5,53.5,52.3,92.5,43.2,94.9,64.7,50.8,67.9,N
3,4,71.7,75.6,37.9,50.5,69.2,52.5,82.3,77.3,80.8,60.9,Y
4,5,74.3,51.8,36.4,40.9,74.7,42.2,65.1,36.2,77.6,74.9,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,58.7,56.4,49.5,38.1,62.8,35.2,43.6,17.9,59.3,71.2,Y
996,997,33.4,52.1,54.7,48.5,85.7,76.2,61.6,40.0,50.8,87.8,N
997,998,66.0,53.6,45.4,56.1,54.6,53.1,22.6,21.8,48.8,73.2,Y
998,999,63.0,47.0,23.6,40.7,97.5,56.6,50.0,59.4,67.7,62.7,Y
999,1000,48.6,52.4,24.2,48.9,56.6,25.5,45.4,50.9,66.7,72.1,Y

In our dataframe, the first column looks like the index, let's set `index_col = 0`

In [11]:
df = df.drop('Unnamed: 0',axis=1)

In [13]:
df

     Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10 Result
0    53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0      Y
1    36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8      N
2    41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9      N
3    71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9      Y
4    74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9      Y
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...
995  58.7  56.4  49.5  38.1  62.8  35.2  43.6  17.9  59.3   71.2      Y
996  33.4  52.1  54.7  48.5  85.7  76.2  61.6  40.0  50.8   87.8      N
997  66.0  53.6  45.4  56.1  54.6  53.1  22.6  21.8  48.8   73.2      Y
998  63.0  47.0  23.6  40.7  97.5  56.6  50.0  59.4  67.7   62.7      Y
999  48.6  52.4  24.2  48.9  56.6  25.5  45.4  50.9  66.7   72.1      Y

[1000 rows x 11 columns]

Great, this looks fine now!<br>

Let's overview the data, we can use `info()` here!

In [16]:
#Code here

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cd_1    1000 non-null   float64
 1   Cd_2    1000 non-null   float64
 2   Cd_3    1000 non-null   float64
 3   Cd_4    1000 non-null   float64
 4   Cd_5    1000 non-null   float64
 5   Cd_6    1000 non-null   float64
 6   Cd_7    1000 non-null   float64
 7   Cd_8    1000 non-null   float64
 8   Cd_9    1000 non-null   float64
 9   Cd_10   1000 non-null   float64
 10  Result  1000 non-null   object
dtypes: float64(10), object(1)
memory usage: 86.1+ KB

Let's split the data so that we can fit the `scaler` to the features only!

In [65]:
#Code Here
from sklearn.preprocessing import StandardScaler

features = df.drop('Result', axis=1)
scaler = StandardScaler()
scaler.fit(features)
scaled_features = scaler.transform(features)

In [63]:
features

     Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10
0    53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0
1    36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8
2    41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9
3    71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9
4    74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
995  58.7  56.4  49.5  38.1  62.8  35.2  43.6  17.9  59.3   71.2
996  33.4  52.1  54.7  48.5  85.7  76.2  61.6  40.0  50.8   87.8
997  66.0  53.6  45.4  56.1  54.6  53.1  22.6  21.8  48.8   73.2
998  63.0  47.0  23.6  40.7  97.5  56.6  50.0  59.4  67.7   62.7
999  48.6  52.4  24.2  48.9  56.6  25.5  45.4  50.9  66.7   72.1

[1000 rows x 10 columns]

Let's fit `scaler` to the features now!

In [70]:
#Code here
df_scaled_features = pd.DataFrame(scaled_features, columns=features.columns)

So, we have the fitted features to the `scaler` object. We will use this `scaler` object to transform all the features using `.transform()` method in `Scikit-learn` to do the `standardization` job by centering and scaling.<br>
Let's pass the features to `scaler.transform()` to get standardized features in `scaled_features`!

In [72]:
scaled_features = scaler.transform(features)

In [78]:
scaled_features

array([[-0.12252539,  0.1875694 , -0.91183199, ..., -1.48006982,
        -0.95256187, -0.64536551],
       [-1.08602779, -0.43340316, -1.02415132, ..., -0.20055606,
        -1.82621843,  0.6351032 ],
       [-0.78865051,  0.33745933,  0.30003449, ...,  0.28776079,
        -0.68275617, -0.3762815 ],
       ...,
       [ 0.64470801, -0.51191693, -0.17880055, ..., -2.36398512,
        -0.81123508,  0.11549271],
       [ 0.46628164, -0.98299956, -1.46751711, ..., -0.03984418,
         0.40289057, -0.85877696],
       [-0.39016495, -0.59756832, -1.43204784, ..., -0.56524838,
         0.33865112,  0.01342636]])

In [80]:
scaled_features.shape

(1000, 10)

`scaled_features` is a NumPy array, Let's convert this into the pandas `DataFrame`!<br>
We can use our `df.columns` to get the columns name and pass that to `DatFrame()` along with `scaled_features`, note we don't need `Results` column, [:-1] will work *(everything but the last one)*!

In [82]:
#Before Scaling
df
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_scaled_features, df['Result'], test_size=0.2)

In [86]:
cols = df.columns[:-1]
cols

Index(['Cd_1', 'Cd_2', 'Cd_3', 'Cd_4', 'Cd_5', 'Cd_6', 'Cd_7', 'Cd_8', 'Cd_9',
       'Cd_10'],
      dtype='object')

In [88]:
#After Scaling
df_scaled_features = pd.DataFrame(data=scaled_features, columns=cols)#df.columns[:-1])
df_scaled_features

,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
0,-0.122525,0.187569,-0.911832,0.318653,-1.035516,-2.305940,-0.801865,-1.480070,-0.952562,-0.645366
1,-1.086028,-0.433403,-1.024151,0.624941,-0.445471,-1.153296,-1.131088,-0.200556,-1.826218,0.635103
2,-0.788651,0.337459,0.300034,0.753154,2.030007,-0.873275,2.597862,0.287761,-0.682756,-0.376282
3,0.983718,1.058359,-0.622166,0.624941,0.449771,-0.267648,1.751290,1.066595,1.244427,-1.025795
4,1.138354,-0.640394,-0.710839,-0.058864,0.822788,-0.938396,0.595651,-1.473889,1.038861,0.273232
...,...,...,...,...,...,...,...,...,...,...
995,0.210537,-0.312064,0.063573,-0.258307,0.015714,-1.394244,-0.848897,-2.605053,-0.136721,-0.070082
996,-1.294192,-0.618981,0.370973,0.482481,1.568822,1.275723,0.360492,-1.239002,-0.682756,1.470191
997,0.644708,-0.511917,-0.178801,1.023827,-0.540420,-0.228575,-2.259851,-2.363985,-0.811235,0.115493
998,0.466282,-0.983000,-1.467517,-0.073110,2.369113,-0.000651,-0.418892,-0.039844,0.402891,-0.858777
999,-0.390165,-0.597568,-1.432048,0.510973,-0.404778,-2.025919,-0.727958,-0.565248,0.338651,0.013426

<br>Our data is ready for the Machine Learning part now!
## Let's do the train_test split 
I am sure, you are very comfortable with this now!

In [90]:
#Code here
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_scaled_features, df['Result'], test_size=0.2)

In [92]:
X_train

,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
561,0.275960,1.657918,2.209463,0.453989,-0.608242,0.930581,-0.009044,1.196401,-0.290896,0.449528
429,0.609023,-1.868064,-1.869502,-0.286799,-0.940566,0.416124,-0.311391,-0.398355,0.473554,-0.663923
350,-0.913549,1.515166,0.323681,0.169071,-0.804924,-1.537511,0.031269,-1.201915,0.518522,0.189723
759,0.733921,1.479478,-0.107862,-0.165709,-0.350521,0.214249,-0.607019,-0.509617,0.557065,1.377404
341,-0.366375,1.415239,-1.183763,0.831507,-0.092800,-0.521620,0.091739,-0.120200,1.469265,-0.348445
...,...,...,...,...,...,...,...,...,...,...
518,2.084014,0.887056,-0.580786,-0.365152,-0.662499,-0.209039,-0.009044,-0.410718,0.961774,-0.422675
772,1.055089,1.907735,1.003508,-1.561810,-0.472599,0.500782,-0.082951,0.324848,-0.541429,-0.663923
798,1.084826,-0.825972,-1.231055,-0.194201,0.856698,-0.065772,1.415348,-2.283629,-0.457918,-1.675308
298,-0.419903,0.237533,-0.184712,-0.870882,0.809223,-0.196015,-1.238589,1.301482,0.325803,0.245395
611,-0.990867,0.744303,1.411405,0.895613,0.924520,0.937093,0.904717,0.250673,0.165205,1.748554

In [94]:
y_train

561    N
429    Y
350    N
759    Y
341    Y
      ..
518    Y
772    N
798    Y
298    N
611    N
Name: Result, Length: 800, dtype: object

In [96]:
X_test

,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10
435,0.888557,0.801404,-0.799513,0.033734,-0.411560,-1.042590,-1.204995,0.071418,-1.350846,0.932023
394,0.478177,-0.319201,-0.539405,-1.191416,-0.052107,0.259833,-1.359528,-0.954666,1.186612,-0.302051
536,1.524945,-0.126486,-0.237916,-1.248400,-0.879527,-0.814666,-0.203890,0.225949,0.486402,0.412413
406,1.554683,0.844230,0.217273,-0.607333,2.233471,0.728706,0.232834,-1.504795,-0.323015,-0.979401
962,1.275148,-2.146431,-1.349286,-0.372275,-1.042298,-0.801641,-0.526393,-0.095475,0.178052,-0.803104
...,...,...,...,...,...,...,...,...,...,...
81,1.632001,2.335992,0.093130,-0.094479,0.293782,0.422636,-0.479362,0.293942,-0.644213,-0.135034
253,2.423024,-0.590431,0.252742,0.055103,0.537938,-0.476036,-1.426717,-0.484892,1.160916,-1.545405
510,0.228380,0.316046,-0.710839,0.119210,0.415860,-1.667753,0.360492,0.998602,1.385754,-0.886613
613,-1.038447,-0.747458,-1.112824,1.729000,1.141548,-1.439829,-0.479362,0.318667,-0.669908,0.885630
8,-0.598329,1.358138,-0.172889,-1.504826,-1.191505,0.507294,-0.324829,0.831709,-0.136721,-0.673202

In [98]:
y_test

435    Y
394    Y
536    Y
406    Y
962    Y
      ..
81     Y
253    Y
510    Y
613    N
8      N
Name: Result, Length: 200, dtype: object

## KNN
Our focus is to come up with a model that can predict the class in `Result` for the new data point. We don't know what k number will work best, let's start with k = 1 at the moment. <br>
We need to import the `KNeighborsClassifier` from `sklearn.neighbors`.

In [100]:
#Code here 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_scaled_features, df['Result'], test_size=0.2)

Let's show the score now!

In [103]:
#Code here
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))

0.885